@font-face {
    font-family: "ponur";
    src: url("../../../design/fonts/PPObjectSans-Heavy.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
.container5{
    
    width: 96vw;
    height: 40vw;
    background-color: rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

   

    .container5-textbox{
        
        overflow: hidden;
        width: 40vw;
        height: 30vw;
        border: 1.1vw solid black;
        align-items: center;
        display: flex;
        justify-content: center;
        


        span{
            width: 30vw;
            font-size: 1.8vw;
            font-family: "ponur";
            animation: bounceUpDown 2s infinite ease-in-out;

        }
        @keyframes bounceUpDown {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-20px);
            }
        }

    }
    

    .container5-codebox{

        overflow: hidden;
        

        width: 40vw;
        height: 30vw;
        border: 1.1vw solid black;
        
        display: flex;
        

        pre{
            width: 30vw;
            font-size: 1vw;
            font-family: "ponur";
        }

    }

}