@font-face {
    font-family: "ponur";
    src: url("../../../design/fonts/PPObjectSans-Heavy.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
.container11{
    
    width: 96vw;
    height: 40vw;
    background-color: rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

   

    .container11-textbox{
        
        overflow: hidden;
        width: 40vw;
        height: 30vw;
        border: 1.1vw solid black;
        align-items: center;
        display: flex;
        justify-content: center;
        


        span{
            width: 30vw;
            font-size: 1.8vw;
            font-family: "ponur";
            animation: shake 0.3s infinite;


        }
        @keyframes shake {
            0% { transform: translate(0, 0); }
            25% { transform: translate(-5px, 0); }
            50% { transform: translate(5px, 0); }
            75% { transform: translate(-5px, 0); }
            100% { transform: translate(0, 0); }
        }
        

    }
    

    .container11-codebox{

        overflow: hidden;
        

        width: 40vw;
        height: 30vw;
        border: 1.1vw solid black;
        
        display: flex;
        

        pre{
            width: 30vw;
            font-size: 1vw;
            font-family: "ponur";
        }

    }

}