# Node modules
node_modules/
*.map
# Pliki systemowe
.DS_Store
Thumbs.db
# Logi
*.log
# Pliki konfiguracyjne IDE (np. Visual Studio Code)
.vscode/
# Pliki tymczasowe
*.tmp
*.temp
# Pliki środowiska
.env
.env.local
.env.*.local