@font-face {
    font-family: "ponur";
    src: url("../../design/fonts/PPObjectSans-Heavy.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

.title {
    position: relative;
    top: 10vw;
  
    
  .title-container {
    width: 100%;
    height: 1vw;
    background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    .title__container-content {
       
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;

        span{
            font-family: 'ponur';
            letter-spacing: 0.5vw;
            font-size: 3.2vw;
            text-shadow: 0.1vw solid black;
            color: white;


        }
    }
  }
}
